<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aylanetworks.aylasdk" >

    <!-- INTERNET: Library needs to use the network to do just about anything -->
    <!-- HTTP is used for Secure WiFi Setup and LAN Connect local device communication
         Both are well encrypted: there is no clear text over HTTP connections -->
    <uses-permission android:name="android.permission.INTERNET"/>
        <application
            android:usesCleartextTraffic="true">
        </application>

    <!-- ACCESS_NETWORK_STATE: Required to determine network connectivity -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- CHANGE_NETWORK_STATE: Required to change network connectivity on Android 10+ -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!-- ACCESS_WIFI_STATE: Library needs to know if WiFi is connected or not -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- CHANGE_WIFI_MULTICAST_STATE: Required for mDNS (device discovery) -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- CHANGE_WIFI_STATE: Required to join mobile device APs for WiFi setup -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- ACCESS_FINE_LOCATION: Required to scan for access points -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- WRITE_EXTERNAL_STORAGE: Required to write log files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- BLUETOOTH and BLUETOOTH_ADMIN are needed to connect to and discover Bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
</manifest>
